*.log
.DS_Store
.env
*.zip
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
# /public/build
/public/hot
# /public/storage

Homestead.json
Homestead.yaml
Thumbs.db

# Dependency folders (sangat berat, tidak perlu masuk Git)
# node_modules/
# dist/
# plugins/

# Laravel spesifik (jika pakai Laravel)
# app
# bootstrap
# config
# database
# resources
# routes
# storage
# vendor
# composer.json
# artisan
# .env
# /storage/*.key
# public/storage
# public/hot

# Log & Temporary files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.phpunit.result.cache
tests/ 
tools
# OS spesifik
.DS_Store
Thumbs.db